{% load static %}
<!-- ================================
Start Footer
================================= -->
<footer>
    <div class="footerCol">
    <div class="container">
        <ul class="socialCol">
        <li><a href="javascript:void(0)"><img src="{% static 'images/fb.svg' %}" alt="..."></a></li>
        <li><a href="javascript:void(0)"><img src="{% static 'images/insta.svg' %}" alt="..."></a></li>
        <li><a href="https://github.com/uuusman872"><img src="{% static 'images/GitHub-Mark.png' %}" alt="..."></a></li>
        <li><a href="https://www.linkedin.com/in/muhammad-usman-285688172/"><img src="{% static 'images/linkedin.svg' %}" alt="..."></a></li>
        </ul>
        <div class="copyrightCol">
        <p>Copyright ©{% now 'Y' %} All rights reserved. Designed by <a href="#" target="_blank">Muhammad Usman</a></p>
        </div>
    </div>
    </div>
</footer>
<!-- ================================
End Footer
================================= -->